* {
    font-family: 'Helvetica', Arial, sans-serif;
}

h1 {
    font-family: 'Helvetica';
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('Resources/Images/pattern.jpeg');
}

h2.brushes {
    font-family: 'Helvetica';
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

span.price-text {
    font-family: 'Helvetica';
    font-weight: bold;
    color: blue;
}