* {
    font-family: 'Helvetica', Arial, sans-serif;
}

h1 {
    font-family: 'Helvetica';
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('Resources/Images/pattern.jpeg');
}
